<a href="https://colab.research.google.com/github/RoshmiRoy/python/blob/main/pythoncy2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#18 merge two dictionaries
thisdict1 = {'a' : 200,  'b': 200}
thisdict2 = {'x': 300, 'y': 200}
d = thisdict1.copy()
d.update(thisdict2)
print(d)

{'a': 200, 'b': 200, 'x': 300, 'y': 200}

In [ ]:
#10 area of circle
PI = 3.14
radius = float(input(' Please Enter the radius of a circle: '))
area = PI * radius * radius
print(" Area Of a Circle = %f" %area)

 Please Enter the radius of a circle: 5
 Area Of a Circle = 78.500000

In [ ]:
#14
a = int(input("enter an integer :"))
n1 =  int( "%s" % a )
n2 = int("%s%s" % (a,a) )
n3 = int("%s%s%s" % (a,a,a) )
print (n1+n2+n3)

enter an integer :5
615

In [ ]:
# 11largest amoung three number
num1 = input("enter first number")
num2 = input("enter second number")
num3 = input("enter third number")
if(num1>num2) and (num1>num3):
  largest=num1
elif (num2>num1) and (num2>num3):
  largest=num2  
else: 
   largest = num3
   print("largest is" ,largest)

enter first number12
enter second number50
enter third number55
largest is 55

In [ ]:
# file name
filename = input("enter the filename :")
f_extns = filename.split(".")
print ("the extension of the file : " + repr(f_extns[-1]))

enter the filename :p.ipynb
the extension of the file : 'ipynb'

In [ ]:
#9
a = input("enter a string")
print("new string :")
print(a[-1:] + a[1:-1] + a[0])

enter a stringpython
new string :
nythop

In [ ]:
#20
list = [11, 22, 33, 44, 55]
print("orginal list:",list)
for i in list:
  if(i%2 == 0):
    list.remove(i)
print("list after removing even number:" , list)

orginal list: [11, 22, 33, 44, 55]
list after removing even number: [11, 33, 55]

In [ ]:
#3a
mylist =[12, 34, 56, -9, -7]
print("firstlist:" , mylist)
newlist =[x for x in mylist if x > 0]
print("newlist :",newlist)

firstlist: [12, 34, 56, -9, -7]
newlist : [12, 34, 56]

In [ ]:
#1
y = int(input("enter final leap year:"))
print ("future leap year from 2021")
for  x  in range(2021 , y+1):
   if ((x%4==0) and (x%100!=0 )):
     print(x)

enter final leap year:2030
future leap year from 2021
2024
2028

In [ ]:
#3b
mylist=[2, 5, 8, 7, 5]
print("firstlist : ",  mylist)
newlist=[number ** 2 for number in mylist]
print("new list :" ,newlist)

firstlist :  [2, 5, 8, 7, 5]
new list : [4, 25, 64, 49, 25]