<a href="https://colab.research.google.com/github/RoshmiRoy/python/blob/main/pythoncyc2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#18 merge two dictionaries
thisdict1 = {'a' : 200,  'b': 200}
thisdict2 = {'x': 300, 'y': 200}
d = thisdict1.copy()
d.update(thisdict2)
print(d)

{'a': 200, 'b': 200, 'x': 300, 'y': 200}

In [6]:
#1 address
def personal_details():
    name, age = "roshmi", 21
    address = "edamattom, Kerala, India"
    print("Name: {}\nAge: {}\nAddress: {}".format(name, age, address))

personal_details()

Name: roshmi
Age: 21
Address: edamattom, Kerala, India

In [ ]:
#10 area of circle
PI = 3.14
radius = float(input(' Please Enter the radius of a circle: '))
area = PI * radius * radius
print(" Area Of a Circle = %f" %area)

 Please Enter the radius of a circle: 5
 Area Of a Circle = 78.500000

In [ ]:
#14
a = int(input("enter an integer :"))
n1 =  int( "%s" % a )
n2 = int("%s%s" % (a,a) )
n3 = int("%s%s%s" % (a,a,a) )
print (n1+n2+n3)

enter an integer :5
615

In [ ]:
# 11largest amoung three number
num1 = input("enter first number")
num2 = input("enter second number")
num3 = input("enter third number")
if(num1>num2) and (num1>num3):
  largest=num1
elif (num2>num1) and (num2>num3):
  largest=num2  
else: 
   largest = num3
   print("largest is" ,largest)

enter first number12
enter second number50
enter third number55
largest is 55

In [ ]:
# 12 file name
filename = input("enter the filename :")
f_extns = filename.split(".")
print ("the extension of the file : " + repr(f_extns[-1]))

enter the filename :p.ipynb
the extension of the file : 'ipynb'

In [ ]:
#9
a = input("enter a string")
print("new string :")
print(a[-1:] + a[1:-1] + a[0])

enter a stringpython
new string :
nythop

In [ ]:
#20
list = [11, 22, 33, 44, 55]
print("orginal list:",list)
for i in list:
  if(i%2 == 0):
    list.remove(i)
print("list after removing even number:" , list)

orginal list: [11, 22, 33, 44, 55]
list after removing even number: [11, 33, 55]

In [ ]:
#3a
mylist =[12, 34, 56, -9, -7]
print("firstlist:" , mylist)
newlist =[x for x in mylist if x > 0]
print("newlist :",newlist)

firstlist: [12, 34, 56, -9, -7]
newlist : [12, 34, 56]

In [ ]:
#2
y = int(input("enter final leap year:"))
print ("future leap year from 2021")
for  x  in range(2021 , y+1):
   if ((x%4==0) and (x%100!=0 )):
     print(x)

enter final leap year:2030
future leap year from 2021
2024
2028

In [ ]:
#3cvowel
word = input("enter a word")
vowels= ['a', 'e', 'i', 'o', 'u']
list= []
for x in word:
  if(x in vowels and x not in list):
    list.append(x)
print("vowel present in the given word is:",list)

enter a wordroshmi
vowel present in the given word is: ['o', 'i']

In [ ]:
#4wordcount
def word_count(txt):
  counts=dict()
  words=txt.split()
  for word in words:
     if word in counts:
        counts[word]+=1
     else:
       counts[word]=1
  return counts
print ( word_count('vowels are present here and they are vowels'))

{'vowels': 2, 'are': 2, 'present': 1, 'here': 1, 'and': 1, 'they': 1}

In [ ]:
#3b
n=int(input("enter ther limit"))
l=[]
for i in range(0, n):
  num=int(input("enter no:"))
  l.append(num)
print("entered list", l)
l1=[i*i for i in l]
print("list of squres",l1)

enter ther limit3
enter no:2
enter no:3
enter no:8
entered list [2, 3, 8]
list of squres [4, 9, 64]

In [ ]:
#8
def change_char(str1):
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]
  return str1
print(change_char('onion'))

oni$n

In [ ]:
#13
word = input("enter the colors:")
color_list = word.split(",")
print ("the color list is :", color_list)
print ("the first and lst color :")
print ("%s %s"%(color_list[0],color_list[-1]))

enter the colors:red,green,blue,yellow,black
the color list is : ['red', 'green', 'blue', 'yellow', 'black']
the first and lst color :
red black

In [ ]:
#15
color_list_1 = set(["White", "yellow",  "Red", "blue"])
color_list_2 = set(["Red", "Green", "blue"])

print(color_list_1.difference(color_list_2))

{'yellow', 'White'}

In [ ]:
y={'david':45,'alex':20,'christy':35,'jincy':10}
l=list(y.items())
l.sort()
print('Ascending order is:',l)
l=list(y.items())
l.sort(reverse=True)
print('Descending order is:',l)
dict=dict(l)
print("Dictionary",dict)

Ascending order is: [('alex', 20), ('christy', 35), ('david', 45), ('jincy', 10)]
Descending order is: [('jincy', 10), ('david', 45), ('christy', 35), ('alex', 20)]
Dictionary {'jincy': 10, 'david': 45, 'christy': 35, 'alex': 20}

In [ ]:
#16
def chars_mix_up(a, b):
  new_a = b[:2] + a[2:]
  new_b = a[:2] + b[2:]

  return new_a + ' ' + new_b
print(chars_mix_up('roshmi', 'roy'))

roshmi roy

In [ ]:
#7 a

list1 = [1, 2, 4, 3, 8]
list2 = [1, 2, 4, 3, 5]
print ("the first list is :" + str(list1))
print ("the second list is :" + str(list2))
l1 = len(list1)
l2 = len(list2)
print("length of list1 :", l1 , "and length of list2 :", l2)
if l1 == l2:
   print ("list are same length")
else :
    print ("list are of different length")

the first list is :[1, 2, 4, 3, 8]
the second list is :[1, 2, 4, 3, 5]
length of list1 : 5 and length of list2 : 5
list are same length

In [ ]:
#7b
list1 = [1, 2, 4, 3, 8]
list2 = [1, 2, 4, 3, 5]
print ("the first list is :" + str(list1))
print ("the second list is :" + str(list2))
sum1 = 0
sum2 = 0
for x in range(0, len(list1)):
    sum1 = sum1 + list1[x]
print ("sum of all elements in given list1 :", sum1)
for x in range(0, len(list2)):
   sum2 = sum2 + list2[x]   
print ("sum of all elements in given list2 :", sum2)
if ( sum1 == sum2):
   print ("list sum to same value") 
else:
   print("list are of different sum")

the first list is :[1, 2, 4, 3, 8]
the second list is :[1, 2, 4, 3, 5]
sum of all elements in given list1 : 18
sum of all elements in given list2 : 15
list are of different sum

In [ ]:
#7c
list1 = [1, 2, 4, 3, 8]
list2 = [1, 2, 4, 3, 5]
print ("the first  list is :" + str(list1))
print ("the second list is :" + str(list2))
print ("the values occur in both lists :")
for x in list1:
   if(x in list1 and x in list2):
      print(x)

the first  list is :[1, 2, 4, 3, 8]
the second list is :[1, 2, 4, 3, 5]
the values occur in both lists :
1
2
4
3

In [ ]:
#6
name = input("enter the names")
list = []
count = 0
for x in name:
   list.append(x)
   if (x in name and x == 'a'):
      count = count + 1
print(count)

enter the namesmaria,anna,roshmi
4

In [ ]:
#3d
a = input("enter the word")
for i in range (len(a)):
  print("ascii value is ",a[i], "is", ord(a[i]))

enter the wordhai
ascii value is  h is 104
ascii value is  a is 97
ascii value is  i is 105

In [ ]:
#19 
import math
print("The gcd of 60 and 48 is : ", end="") 
print(math.gcd(60, 48))

The gcd of 60 and 48 is : 12

In [ ]:
#5
x = []
n = int(input("enter any integers:"))
for i in range(1, n+1):
  a = int(input())
  if (a>100):
    x.append('over')
  else:
     x.append(a)
print("modified list:", x)

enter any integers:4
100
500
200
300
modified list: [100, 'over', 'over', 'over']